* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 2.5em 0 0 0; /* The vertical annotation layout depends on this */
  padding: 0;

  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 10pt;
  line-height: 1.55;
}
pre {
  margin: 0;
}
header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  display: flex;

  width: 100%;
  height: 2.5em;
  padding: 0.5em;

  color: #fff;

  background-color: #333;

  justify-content: space-between;
}
header h1 {
  margin: 0;

  font-size: inherit;
}
header > h1 > a {
  display: inline-block;

  margin-left: 1em;

  color: #ccc;
  font-weight: normal;
}
main {
  display: flex;

  margin: 0;

  align-items: stretch;
}
#Content {
  min-width: 4in;
  max-width: 8in;
  padding: 1em;
}
#Annotations {
  position: relative;

  min-width: 32em;
  margin-left: 1.5em;
  padding: 0.5em;
  padding-left: 1em;

  border-left: solid 1px #ccc;

  background: #efefef;

  flex: 1;
}
#Annotations .annotation-detail {
  position: absolute;
  right: 0;
  left: 0;

  padding: 0.5em 1em;
}
#Annotations .annotation-detail.active {
  background: #dfdfdf;
}

#Annotations .annotation-detail .annotation-toolbar {
  display: flex;

  margin-bottom: 0.5em;

  justify-content: space-between;
}


#Annotations .annotation-detail .annotation-comment {
  width: 100%;
  margin: 0.5em 0;
}
#Annotations .annotation-detail textarea {
  min-height: 8em;
  padding: 0.25em;

  font-family: inherit;
  font-size: inherit;
}
#Annotations .annotation-detail .annotation-timestamp {
  color: #999;
  font-size: 80%;
  line-height: 1;
}

#Content table {
  max-width: 8.5in;

  border-spacing: 0;
}
.line {
  font-family: 'SF Mono', 'Inconsolata', monospace;
}
.line td {
  padding: 0.1em 0.25em;
  padding-left: 0;

  vertical-align: top;
  white-space: pre-wrap;
}
.line td.content {
  border-right: solid 4px transparent;
}
.line-number {
  min-width: 3em;
  padding-right: 0.5em !important;

  color: #aaa;
  text-align: right;
}
.heading {
  font-weight: bold;
}
.quote {
  font-style: italic;
}
.line-number:before {
  content: attr(data-line) '.';
}
.annotation-highlight.active {
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.5);
}
#SelectAnnotation > div {
  padding: 0.25em;

  border: solid 0.5px #ccc;
  border-radius: 0.5em;
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.25);

  background: white;
}
mark {
  cursor: pointer;
}
.user-color {
  display: inline-block;

  width: 1em;
  height: 1em;
  margin-right: 0.5em;

  border-radius: 1em;

  vertical-align: middle;
}
