body {
  line-height: 1.45;
}
pre {
  margin: 0;
}
table.markdown {
  border-spacing: 0;
}
table.markdown td {
  padding: 0.1em 0.25em;

  vertical-align: top;
}
.line {
  font-family: 'SF Mono', 'Inconsolata', monospace;
}
.line td {
  border-bottom: solid 0.5px #eee;

  white-space: pre-wrap;
}
.line-number {
  min-width: 3em;
  padding-right: 0.5em !important;

  color: #aaa;
  text-align: right;
}
.line-number:before {
  content: attr(data-line-number) '.';
}
