body {
  line-height: 1.45;
}
.line {
  position: relative;

  clear: both;

  box-sizing: border-box;
  min-height: 1.65em; /* 1em * 1.45 line-height + 2 * 0.1 padding */
  padding: 0.1em 0;
  padding-left: 5rem;

  border-bottom: solid 0.5px #eee;

  font-family: 'SF Mono', 'Inconsolata', monospace;
  white-space: pre-wrap;
}
.line:before {
  position: absolute;
  left: 0;

  display: block;

  width: 4em;

  color: #333;
  font-weight: bold;
  text-align: right;

  content: attr(data-line) '.';

  background: #eee;
}
